* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: #26d0ce;
  background: linear-gradient(90deg, #1a2980 10%, #26d0ce 90%);
  color: #fff;
  font-family: montserrat, sans-serif;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:active, a:hover {
  color: #def;
}

a.active {
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
}
header a {
  padding: 1em;
}
header h1 {
  margin-right: 1em;
}

.content {
  padding: 1em;
}

button, input, select, textarea {
  font-size: 15px;
  font-family: inherit;
}

button, input, textarea {
  padding: 5px;
}

.field {
  display: block;
}

.field--large {
  width: 30em;
}

button {
  padding: 1em 2em;
}

p {
  margin: 1.5em 0;
}

h2 {
  display: none;
  margin-bottom: .5em;
}

.app-list-outer {
  bottom: 20px;
  left: 20px;
  padding: 3px;
  position: absolute;
  right: 20px;
}

.app-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: -1em 0 0 -1em;
}

.scrollable--h {
  height: 290px;
  overflow: hidden;
}

.scrollable--h > * {
  -moz-overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  user-select: none;
  padding-bottom: 60px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.app-tile {
  display: flex;
  flex: 1;
  min-width: 250px;
  padding: 1em 0 0 1em;
  width: 300px;
}

.app-tile:last-child {
  padding-right: 3px;
}

.app-tile__icon {
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  flex-grow: 1;
}

.app-tile__link {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition: .1s box-shadow ease-in-out;
}

.app-tile__link:hover {
  box-shadow: 0 0 0 3px #fff;
}

.app-tile__name {
  background: rgba(255,255,255,.5);
  color: #333;
  font-weight: 700;
  padding: 15px;
  text-transform: uppercase;
}

.app-tile__description {
  display: none;
}
